# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.bak
*~
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# FVM Version Cache
.fvm/

# Android
**/android/.gradle
**/android/app/build
**/android/local.properties
**/android/key.properties
**/android/**/*.apk
**/android/**/*.aab

# iOS / macOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.pbxuser
**/ios/*.xcworkspace/
!**/ios/*.xcworkspace/default.workspace
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh

**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Windows
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc

# Linux
**/linux/flutter/ephemeral/

# Web
**/web/main.dart.js
**/web/main.dart.js.map

# Crash logs
*.crash
flutter_*.log

# Database
*.isar
*.isar.lock
AGENT.md
